@font-face {
    font-family: "BebasNeueBold";
    src: url("./ofont.ru_Bebas\ Neue.woff2") format("truetype");
    font-style: normal;
    font-weight: normal;
}

h1, h2, h3, p {
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    /* background: #F2F2F2; */
    font-family: 'OpenSans', sans-serif;
}

.header {
    width: 100%;
    height: 780px;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-image: url(./img/bg.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-bg {
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.header-logo {
    width: 101.6px;
    height: 23px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 41px;
}

.header-title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 39vh;
}

.header-title {
    font-family: 'BebasNeueBold';
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 5.7px;
    color: #FFFFFF;
}

.header-subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: #FFFFFF;
    letter-spacing: 1px;
}

.header-scroll {
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 3.7px;
    color: #FFFFFF;
    margin-top: auto;
    margin-bottom: 71px;
}


.container {
    width: 100%;
    max-width: 941px;
    margin-left: auto;
    margin-right: auto;
}

.navigation {
    width: 100%;
    border-bottom: 1px solid #cbcbcb;

}

.navigation-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo-img {
    width: 79.53px;
    height: 18px;
}

.menu {
    display: flex;
    width: 410.5px;
}

.menu-item {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 1.09091px;
    color: #48555B;
}

.story-wrapper {
    margin-top: 73px;
    display: flex;
    justify-content: space-between;
}

.story-title {
    margin-top: 57px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 2.30625px;
    color: #48555B;
}

.story-subscription {
    width: 390px;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0.1875px;
    color: #48555B;
}

.konstruct {
    color: #00A4E5;
}

.story-subscription-small {
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.1875px;
    color: #48555B;
}

.story-images-wrapper {
    width: 100%;
    max-width: 460px;
    display: flex;
    justify-content: space-between;
}

.story-images {
    position: relative;
}

.story-images-title {
    width: 110px;
    position: absolute;
    top: 15px;
    left: 14px;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0.1875px;
    color: #FFFFFF;
}

.services {
    margin-top: 118px;
}

.services-title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services-title {
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 2.30625px;
    color: #48555B;
    white-space: nowrap;
}

.services-subscription {
    width: 100%;
    max-width: 380px;
    margin-left: auto;
    margin-right: 30px;
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.2px;
    color: #48555B;
}

.services-false-btn {
    padding: 11px 29px;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    background-color: #00A4E5;
}

.service-items-wrapper {
    max-width: 940px;
    width: 100%;
    margin-top: 76px;
    display: flex;
    justify-content: space-between;
}

.services-item {
    width: 100%;
    max-width: 245px;
    padding: 38px 20px;
    border: 1px solid #cbcbcb;

}

.services-item-title {
    max-width: 258px;
    width: 100%;
    margin-top: 25px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #48555B;
}

.service-item-subscription {
    margin-top: 13px;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.1875px;
    color: #48555B;
}

.get-touch {
    width: 100vw;
    height: 499px;
    margin-top: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./img/get-in-touch.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.get-touch-question {
    margin-top: 120px;
    text-align: center;
    max-width: 350px;
    width: 100%;
    font-size: 30px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.15px;
    color: #48555B;
}

.get-touch-button {
    margin-top: 35px;
    padding: 11px 26px;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.5px;
    border: none;
    color: #FFFFFF;
    background: #00A4E5;
}

.footer {
    width: 100vw;
    background: #171819;
}

.footer-form-wrapper {
    max-width: 685px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-form-title {
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;

}

.footer-form {
    display: flex;
}

.footer-input-email {
    padding: 11px 98px 11px 16px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.07px;
    color: #48555B;
}

.footer-input-submit {
    padding: 11px 49px;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    background: #00A4E5;
    border: none;
}

.footer-content {
    padding-bottom: 42px;
    display: flex;
    justify-content: space-between;

}

.footer-content-logo {
    width: 100%;
    max-width: 250px;
}

.footer-content-item-title {
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
}

.footer-content-item-logo {
    width: 101.62px;
    height: 23px;
    margin-top: 19px;
}

.footer-content-item-subtitle {
    margin-top: 15px;
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.85px;
    color: #FFFFFF;
}

.footer-content-links {
    width: 100%;
    max-width: 330px;

}

.footer-content-link-title {
    display: flex;
    flex-direction: column;
}

.footer-content-link-title-name {
    padding-bottom: 10px;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
}

.footer-content-link-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer-content-link-wrapper-left, .footer-content-link-wrapper-center, .footer-content-link-wrapper-right {
    width: 100%;
    max-width: 80px;

}

.footer-content-link {
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
}

.footer-contacts {
    width: 100%;
    max-width: 140px;
}

.footer-contacts-title {
    padding-bottom: 10px;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;

}

.footer-contacts-wrapper {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
}

.footer-contacts-item:not(:last-child) {
    margin-bottom: 10px;
}

.footer-social {
    width: 100%;
    max-width: 87px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.footer-logo {
    width: 12.04px;
    height: 12.04px;
}

.footer-copyright {
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 23px 0;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.846154px;
    color: #FFFFFF;
    background: #171819;
}